<span role="button" onclick={{action @toggleCheck}}>
  <Input
    @type="checkbox"
    @checked={{@model.isChecked}}
    disabled={{@model.isDisabled}}
    indeterminate={{@model.isIndeterminate}}
    {{on "change" (action "noop")}}
  />
</span>
