<div
  class={{this.classes}}
  role="button"
  {{on "click" this.click}}
  {{on "contextmenu" this.contextMenu}}
  {{on "mouseenter" this.mouseEnter}}
  {{on "mouseleave" this.mouseLeave}}
>
  {{#if (has-block)}}
    {{yield
      (hash
        model=@model
        toggle=(component "x-tree-toggle"
          model=@model
          toggleExpand=this.toggleExpand
          expandedIcon=@expandedIcon
          collapsedIcon=@collapsedIcon
        )
        checkbox=(component "x-tree-checkbox"
          model=@model
          toggleCheck=this.toggleCheck
        )
      )
    }}
  {{else}}
    <XTreeToggle
      @model={{@model}}
      @toggleExpand={{this.toggleExpand}}
      @expandedIcon={{@expandedIcon}}
      @collapsedIcon={{@collapsedIcon}}
    />

    {{#if @checkable}}
      <XTreeCheckbox
        @model={{@model}}
        @toggleCheck={{this.toggleCheck}}
      />
    {{/if}}
    <span class="tree-label">
      {{@model.name}}
    </span>
  {{/if}}
</div>
