{{light-tree-toggle
  model=model
  toggleExpand=(action "toggleExpand")
  expandedIcon=expandedIcon
  collapsedIcon=collapsedIcon
}}

{{#if checkable}}
  <span role="button" onclick={{action "toggleCheck"}}>
    {{input
      type="checkbox"
      checked=model.isChecked
      indeterminate=model.isIndeterminate
    }}
  </span>
{{/if}}

<span class="light-tree-label">
  {{#if hasBlock}}
    {{yield model}}
  {{else}}
    {{model.name}}
  {{/if}}
</span>
