{{#if hasBlock}}
  {{yield
    (hash
      model=model
      toggle=(component "light-tree-toggle"
        model=model
        toggleExpand=(action "toggleExpand")
        expandedIcon=expandedIcon
        collapsedIcon=collapsedIcon
      )
      checkbox=(component "light-tree-checkbox"
        model=model
        toggleCheck=(action "toggleCheck")
      )
    )
  }}
{{else}}
  {{light-tree-toggle
    model=model
    toggleExpand=(action "toggleExpand")
    expandedIcon=expandedIcon
    collapsedIcon=collapsedIcon
  }}

  {{#if checkable}}
    {{light-tree-checkbox
      model=model
      toggleCheck=(action "toggleCheck")
    }}
  {{/if}}
  <span class="light-tree-label">
    {{model.name}}
  </span>
{{/if}}
