{{light-tree-toggle
  model=model
  toggleExpand=(action "toggleExpand")
  expandedIcon=expandedIcon
  collapsedIcon=collapsedIcon
}}

{{#if checkable}}
  {{light-tree-checkbox
    model=model
    toggleCheck=(action "toggleCheck")
  }}
{{/if}}

<span class="light-tree-label">
  {{#if hasBlock}}
    {{yield model}}
  {{else}}
    {{model.name}}
  {{/if}}
</span>
