<span class="tree-checkbox">
  <span role="button" {{on "click" @toggleCheck}}>
    {{! template-lint-disable no-invalid-role no-nested-interactive }}
    <input
      aria-label="Checkbox for {{@model.name}}"
      checked={{@model.isChecked}}
      disabled={{@model.isDisabled}}
      indeterminate={{@model.isIndeterminate}}
      role="presentation"
      type="checkbox"
    />
  </span>
</span>